.utilities input{
    width: 20%;
    outline: none;
    border: none;
    border-radius: 10px;
    color: grey;
    padding: 15px;
    width: 180px;
    height: 30px;
    font-size: 13px;
}

.utilities img{
    width: 30px;
    border-radius: 30px;
}

.utilities i{
    font-size: 20px;
}

.utilities button{
    background: none;
    border: none;
    outline: none;
    color: black;
}
.utilities button:hover{
    background: none;
    border: none;
    outline: none;
    color: black;
}
.utilities button:focus{
    background: none;
    border: none;
    outline: none;
    color: black;
    box-shadow: none;
}

.dropdown li:hover{
    cursor: pointer;
}