.heading h2{
    font-size: 18px;
    font-weight: bolder;
}

.heading span{
    background-color: #F5F5F5;;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 30%;
    height: 30px;
    padding: 7px 0;
    font-size: 13px;
    display: inline-block;
}
.heading input{
    background-color: #F5F5F5;;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 80%;
    display: inline-block;
    margin-left: 14px;
}
.searchBar i{
    color: grey;
}

.addBtn{
    background-color: #0D5F9A;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    padding: 5px 20px;
}

.filterBtn{
    background-color: #fff;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    color: grey;
    font-weight: bolder;
    font-size: 14px;
    padding: 5px 20px;
}

.filterBox{
    width: 50%;
    background-color: red;
}