body{
  font-family: 'Lato', sans-serif !important;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  background-color: #F5F5F5;
}

.activeSidebar{
  font-weight: bolder !important;
}

.show > .btn-primary.dropdown-toggle{
  color: black ;
  background: none !important;
  border: none !important;
  outline: none !important;
}

.show > .btn-primary.dropdown-toggle:focus{
  box-shadow: none !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #EDEDED !important; 
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #F5F5F5 !important; 
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #sm-center {
    text-align: center !important;
  }
}