.customTable {
  border-collapse: separate !important;
  border-spacing: 0 1em !important;
  width: 100%;
  padding: 0;
}

.customTable td{
    padding: 10px !important;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 30px;
}

.customTable img{
    border-radius: 18px;
}

/* // Set border-radius on the top-left and bottom-left of the first table data on the table row */
.customTable td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

/* // Set border-radius on the top-right and bottom-right of the last table data on the table row */
.customTable td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
